@font-face {
    font-family: "AmaticSC" ;
    src: url("../../public/fonts/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: "Roboto" ;
    src: url("../../public/fonts/Roboto-Regular.ttf");
}
.font-cover{
    font-family: "AmaticSC";
}

.font-roboto{
    font-family: "Roboto";
}