*{
    margin: 0;
    padding: 0;
}
.mycarocel-container{
    width: 100%;
    /* margin: 10px auto; */
}
.mycarocel-carousel{
    height: 400px;
    width: 100%;
    overflow: hidden;


}
.mycarocel-slider{
    height: 100%;
    display: flex;
    transition: all 0.3s;
    width: 200%;

}
.mycarocel-slider section{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-basis: 100%;
    margin: 1px;
    height: 400px;
}
.mycarocel-controls .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

}
.left{
    left: 15px;
}
.right{
    right: 15px;
}
.mycarocel-controls .mycarocel-ul {
    position: absolute;
    bottom: 0px;
    z-index: 1111;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    display: flex;
}
.mycarocel-controls .mycarocel-ul .mycarocel-li {
    width: 14px;
    height: 14px;
    border: 2px solid #ccc;
    border-radius: 50px;
    margin-left: 2px;
    background-color: #ccc;
    cursor: pointer;
}
.mycarocel-controls .mycarocel-ul .mycarocel-li.mycarocel-selcted{
    background-color: red;
}
@media (max-width:768px) {
    .mycarocel-slider{
        width: 600%;
    }
    
}